.sectionHead
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-template-areas: "title display1" "title display2" "action display3"
  & > *
    border-bottom: var(--body-border)
  &__title
    grid-area: title
    box-shadow: var(--sharder-body-right)
    min-height: var(--viewport-height)
    padding: 7% 10%
    display: flex
    flex-direction: column
    justify-content: space-around
    z-index: 1
  &__action
    grid-area: action
    box-shadow: var(--sharder-body-right)
    display: inherit
    place-items: center
    z-index: 1
  &__3
    grid-area: display1
  &__4
    grid-area: display2
  &__5
    grid-area: display3

.sectionBestsellers
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto auto
  grid-template-areas: "title ." "carousel carousel"
  border-bottom: var(--body-border)
  &__title
    grid-area: title
    display: inherit
    place-items: center
    box-shadow: var(--sharder-body-right)
  &__carousel
    grid-area: carousel
    display: inherit
    grid-template-columns: repeat(4, 1fr)
    grid-template-areas: "carousel carousel carousel carousel" "spn spn spn btns"
    //height: calc(100vh - var(--nav-height))
    &_container
      grid-area: carousel
      border-block: var(--body-border)
      overflow-x: auto
      width: 100%
      -ms-overflow-style: none
      scrollbar-width: none
    &_wrapper
      display: flex
      height: 100%
    & span
      grid-area: spn
      box-shadow: var(--sharder-body-right)
    &_btns
      grid-area: btns
      display: flex
      height: var(--title-height)
      width: 100%
      align-items: center
      justify-content: center
      gap: 10%


.sectionTips
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto 3fr 3fr
  & > *
    border-bottom: var(--body-border)
    height: calc(var(--viewport-height)/2)
  & > article:nth-child(2n)
    box-shadow: var(--sharder-body-right)
  &__title
    display: inherit
    place-items: center
    grid-column: span 2

.sectionPopulars
  grid-template-columns: repeat(4, 1fr)
  //grid-template-rows: auto 5fr .6fr
  grid-template-areas: "title title . ." "market market market market" " . link link ."
  border-bottom: var(--body-border)
  &__title
    grid-area: title
    display: inherit
    place-items: center
    box-shadow: var(--sharder-body-right)
  &__market
    grid-area: market
    display: inherit
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 1fr)
    border-top: var(--body-border)
    & > *
      border-bottom: var(--body-border)
    & > *:nth-child(4n)
      border-right: none
  &__link
    height: var(--title-height)
    grid-area: link
    display: inherit
    border-left: var(--body-border)
    box-shadow: var(--sharder-body-right)
    place-items: center

.sectionAbout
  height: var(--viewport-height)
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: "photo title" "photo text" "photo action"
  & > *
    border-bottom: var(--body-border)
  &__photo
    position: relative
    grid-area: photo
    box-shadow: var(--sharder-body-right)
  &__title
    grid-area: title
    display: inherit
    place-items: center
  &__text
    grid-area: text
    display: inherit
    font-size: var(--fs-hhhh)
    padding: 1.5em 2em
    &_title
      margin-bottom: 1em
    &_sign
      justify-self: end 
      margin-bottom: 3em
    &_text
      font-size: var(--fs-pp)
  &__action
    grid-area: action
    display: inherit
    height: var(--title-height)
    grid-template-columns: 2.5fr 1.5fr
    &_btnspan
      display: inherit
      place-items: center
      box-shadow: var(--sharder-body-right)
    &_socialspan
      display: flex
      align-items: center
      justify-content: center
      gap: 2em
  &__socbtn
    &_icon
      width: 2.5em
      &:hover
        color: var(--accent-color)

.sectionFAQ
  height: var(--viewport-height)
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto repeat(5, 1fr)
  grid-template-areas: "title . " "qwest answer" "qwest answer" "qwest answer" "qwest answer" "qwest answer"
  & span
    border-bottom: var(--body-border)
  & > span:last-of-type
    border-bottom: none
  &__title
    grid-area: title
    display: inherit
    place-items: center
    border-bottom: var(--body-border)
    box-shadow: var(--sharder-body-right)
  &__answer
    grid-area: answer
    display: inherit
    place-items: center
    & p
      width: 60%
      letter-spacing: .03em
  &__quest
    display: inherit
    align-items: center
    padding-inline: 3em
    box-shadow: var(--sharder-body-right)
    &_title
      display: flex
      align-items: center
      justify-content: space-between
      position: relative
      cursor: pointer
      font-weight: 500
      transition: color .5s
      &.active
        color: var(--accent-color)
      &.active > &_icon
        transform: scaleX(-1)
        color: var(--accent-color)
      &_icon
        height: 2em
        transition: transform .3s, color .5s


.fade-enter, .fade-appear
  opacity: 0

.fade-enter-active, .fade-appear-active
  opacity: 1
  transition: opacity .3s ease-in

.fade-exit
  opacity: 1

.fade-exit-active
  opacity: 0
  transition: opacity .3s ease-out