.display
  display: grid
  grid-template-columns: 1fr 1fr
  & > *
    &:first-child
      box-shadow: var(--sharder-body-right)

.imgwrapper
  position: relative

.textwrapper
  display: inherit
  place-items: center
  z-index: 1
  & span
    display: inherit
    place-items: center
    text-align: center
    & h2
      font-size: var(--fs-h)
      font-weight: 200
      margin-bottom: .1em